nvidia-nvtx-cu12==12.8.90
nvidia-cusparse-cu12==12.5.8.93
Pygments==2.19.2
markdown-it-py==4.0.0
uvloop==0.22.1
distro==1.9.0
prometheus-fastapi-instrumentator==7.1.0
starlette==0.50.0
llguidance==1.3.0
certifi==2025.11.12
nvidia-cufft-cu12==11.3.3.83
supervisor==4.3.0
PyYAML==6.0.3
pip==25.3
tokenizers==0.22.1
msgspec==0.20.0
attrs==25.4.0
safetensors==0.7.0
mistral_common==1.8.6
typer==0.20.0
jmespath==1.0.1
pydantic-extra-types==2.10.6
tabulate==0.9.0
platformdirs==4.5.1
annotated-doc==0.0.4
dnspython==2.8.0
loguru==0.7.3
torch==2.9.0
sympy==1.14.0
scipy==1.16.3
py-cpuinfo==9.0.0
fastapi-cli==0.0.16
llvmlite==0.44.0
fsspec==2025.12.0
nvidia-cusolver-cu12==11.7.3.90
sentencepiece==0.2.1
aiosignal==1.4.0
nvidia-cublas-cu12==12.8.4.1
fastar==0.8.0
triton==3.5.0
nvidia-curand-cu12==10.3.9.90
jsonschema==4.25.1
flashinfer-python==0.5.3
jiter==0.12.0
GitPython==3.1.45
six==1.17.0
psutil==7.1.3
aiohappyeyeballs==2.6.1
cbor2==5.7.1
Jinja2==3.1.6
tiktoken==0.12.0
rpds-py==0.30.0
pillow==12.0.0
einops==0.8.1
smmap==5.0.2
wandb==0.23.1
model-hosting-container-standards==0.1.9
torchvision==0.24.0
cloudpickle==3.1.2
python-json-logger==4.0.0
dill==0.4.0
nvidia-nccl-cu12==2.27.5
cuda-bindings==13.1.0
msgpack==1.1.2
nvidia-ml-py==13.580.82
diskcache==5.6.3
nvidia-nvjitlink-cu12==12.8.93
sentry-sdk==2.47.0
opencv-python-headless==4.12.0.88
depyf==0.20.0
cachetools==6.2.2
ninja==1.13.0
uvicorn==0.38.0
arctic_inference==0.1.1
huggingface-hub==0.36.0
requests==2.32.5
idna==3.11
astor==0.8.1
jsonschema-specifications==2025.9.1
vllm==0.12.0
ray==2.52.1
numpy==2.2.6
docstring_parser==0.17.0
mpmath==1.3.0
yarl==1.22.0
nvidia-cutlass-dsl==4.3.2
urllib3==2.5.0
wheel==0.45.1
xgrammar==0.1.27
multidict==6.7.0
sniffio==1.3.1
gitdb==4.0.12
click==8.2.1
compressed-tensors==0.12.2
cuda-pathfinder==1.3.3
shellingham==1.5.4
httptools==0.7.1
gguf==0.17.1
rich-toolkit==0.17.0
nvidia-cufile-cu12==1.13.1.3
python-multipart==0.0.20
fastapi==0.123.9
setuptools==80.9.0
MarkupSafe==3.0.3
annotated-types==0.7.0
fastrlock==0.8.3
pybase64==1.4.2
openai==2.9.0
apache-tvm-ffi==0.1.4
websockets==15.0.1
blake3==1.0.8
pydantic==2.12.5
nvidia-cuda-runtime-cu12==12.8.90
prometheus_client==0.23.1
numba==0.61.2
lm-format-enforcer==0.11.3
transformers==4.57.3
watchfiles==1.1.1
pydantic_core==2.41.5
anthropic==0.71.0
partial-json-parser==0.2.1.1.post7
regex==2025.11.3
cuda-python==13.1.0
charset-normalizer==3.4.4
filelock==3.20.0
protobuf==6.33.1
nvidia-cudnn-frontend==1.16.0
openai-harmony==0.0.8
mdurl==0.1.2
httpx==0.28.1
tqdm==4.67.1
email-validator==2.3.0
typing-inspection==0.4.2
rignore==0.7.6
python-dotenv==1.2.1
pyzmq==27.1.0
referencing==0.37.0
h11==0.16.0
fastapi-cloud-cli==0.6.0
torchaudio==2.9.0
nvitop==1.6.1
lark==1.2.2
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
aiohttp==3.13.2
rich==14.2.0
anyio==4.12.0
networkx==3.6
outlines_core==0.2.11
pycountry==24.6.1
nvidia-cusparselt-cu12==0.7.1
nvidia-nvshmem-cu12==3.3.20
httpcore==1.0.9
frozenlist==1.8.0
hf-xet==1.2.0
setproctitle==1.3.7
typing_extensions==4.15.0
packaging==25.0
interegular==0.3.3
propcache==0.4.1
nvidia-cuda-nvrtc-cu12==12.8.93
cupy-cuda12x==13.6.0
